<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>You shouldn't be here.</title>

    <!-- Style Sheet-->
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>

  <div class="container">
    <h1>Move Along. Nothing to see here</h1>
  </div>

  </body>
</html>